<body>
    <nav>
        <div> <img src="assets/default-img/rj-icon.png" class="mat-icon-button" [routerLink]="'news'"> </div>
        <div class="seach">
            <input type="search" name="#" id="#" placeholder="saisir une recherche">
            <span class="bi bi-search">
            </span>
        </div>
        <ol>
            <li><a class="bi bi-house" [routerLink]="'news'"></a> </li>
            <li><a class="bi bi-chat" [routerLink]="'chats'"></a></li>
            <li><a class="bi bi-person" [routerLink]="'login'"></a></li>
            <li><a class="bi bi-power powerIcon rounded" (click)="logout()"></a></li>
        </ol>
    </nav>
</body>