<app-swal-new-conversation #swalNewConversationComponent [userConnected]="userConnected"
                           [chats]="chats | async">
</app-swal-new-conversation>
<button mat-raised-button color="primary" (click)="swalNewConversationComponent?.displaySwal()">Crer un chat</button>

<ng-container *ngIf="chats | async as chatsList">
    <div *ngFor="let chat of chatsList" class="clickableContainer">
        <mat-card class="mat-card-customize" [routerLink]="'/chat/' + chat.id">
            <app-item-in-list
                    [userName]="chat.chat[chat.chat.length -1].fromTo"
                    [text]="chat.chat[chat.chat.length -1].message"
                    [createdDate]="chat.chat[chat.chat.length -1].time"
                    [imgProfile]="undefined"></app-item-in-list>
        </mat-card>
    </div>
</ng-container>

<ng-container *ngIf="!(chats | async)">
    <br>
    <span class="bg-white"> YOU HAVE NO SOCIAL LIFE </span>
</ng-container>