<mat-card class="layoutConnexion mt-4">
  <mat-card-title class="center-title"> Rejoins nous !</mat-card-title>

  <mat-divider inset ></mat-divider>
  <mat-card-content class="mt-4">
    <app-input-field [title]="'Email'" [type]="'email'" [control]="emailCtrl"></app-input-field>
  </mat-card-content>
  <mat-card-content>
    <app-input-field [title]="'Mot de passe'" [type]="'password'" [control]="passwordCtrl"></app-input-field>
  </mat-card-content>

  <mat-divider inset></mat-divider>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="connectUser()">Connection</button>
    <button mat-raised-button color="primary" (click)="register()">Inscription</button>
  </mat-card-actions>
</mat-card>

<app-swal-config-profile #swalConfigProfile></app-swal-config-profile>
