<div class="divBackButton">
    <a href="/chats">
        <button mat-button class="backButton">
            <mat-icon class="me-3">keyboard_backspace</mat-icon>
            Retour
        </button>
    </a>
</div>

<mat-card>
    <div *ngFor="let chat of chats.chat">
        <div class="d-flex"
             [ngClass]="chat.fromTo === connectedUser?.userName ? 'justify-content-end' : 'justify-content-start'">
            <div [ngClass]="chat.fromTo === connectedUser?.userName ? 'outgoing' : 'incoming'">
                <div class="bubble">
                    <span class="colorMessage"> {{ chat.message}} </span>
                </div>
                <br>
                <br>
                <span class="dayLabel">{{chat.time.toDate() | date:'dd/MM/yyyy h:mm:ss a'}}</span>
            </div>
        </div>
    </div>

    <div class="bottom-bar">
        <div class="chat">
            <app-input-field [title]="'Message'" [control]="messageCtrl"></app-input-field>
            <button mat-raised-button color="primary" (click)="sendMessage()">
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </div>
</mat-card>
