
.divBackButton {
  height: 20px !important;
  width: 100%;
  top: 0;
  z-index: 1;
  margin: auto;
  position:fixed;
}

.backButton {
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  background-color: black;
  color: white;
  width: 50% !important;
}

.commentViewContainer {
  margin-top: 35px !important;
}