<mat-card class="mat-card-customize">
    <app-item-in-list
            [userName]="publication.userName"
            [createdDate]="publication.date"
            [text]="publication.text"
            [imgProfile]="userImgProfile"></app-item-in-list>

    <!-- image here if present -->
    <img *ngIf="!!publication.imgUrl" [src]="publication.imgUrl" style="width: 100%; height: fit-content;"/>

    <!-- Button like and comments not show for comment view -->
    <mat-card-actions *ngIf="!isComment" class="justify-content-around d-flex">
        <!-- Button for add or remove a like -->
        <button mat-button (click)="addLike(publication)">
            <mat-icon *ngIf="!connectedUserAlreadyLikeThePost">favorite_border</mat-icon>
            <mat-icon *ngIf="connectedUserAlreadyLikeThePost">favorite</mat-icon>
            {{ publication.like?.length }}</button>
        <!-- Button for add or view all comments -->
        <button mat-button [routerLink]="publication.id">
            <mat-icon>comment</mat-icon>
            {{ publication.comment?.length }} </button>
        <!-- Button for delete the publication if is he write by the current user -->
        <button mat-button *ngIf="isUserCanDeletePublication()"
                (click)="removePublication(publication)">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>

</mat-card>