/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
  background: linear-gradient(#ff7189, #ff8071);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  width: 100%;
  height: 10%;
  margin: auto; // for center the body
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card-customize {
  border-radius: unset !important;
  padding-left: 15px !important;
}

.fit-content {
  width: fit-content !important;
}
