/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%;
  background: linear-gradient(#ff7189, #ff8071) no-repeat fixed;
}
body {
  width: 50%;
  margin: auto; // for center the body
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card-customize {
  border-radius: unset !important;
  padding-left: 15px !important;
}

.fit-content {
  width: fit-content !important;
}
