/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
  background: linear-gradient(#ff7189, #ff8071) no-repeat fixed;
}
body {
  width: 100%;
  height: 10%;
  margin: auto; // for center the body
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/**
  Shared class css
 */
.mat-card-customize {
  border-radius: unset !important;
  padding-left: 15px !important;
}

.fit-content {
  width: fit-content !important;
}

.display-contents{
  display: contents !important;
}

.dayLabel {
  color: lightgray !important;
}

::ng-deep .clickableContainer {
  &hover {
    background-color: lightgrey !important;
  }
}

.generalContainer {
  width: 50% !important;
  margin: auto !important; // for center the body
}