<div class="row">
    <div class="col-2 display-contents fit-content">
        <app-img-profile-container class="display-contents" [imgSrc]="imgProfile"></app-img-profile-container>
    </div>

    <div class="col-9">
        <div class="row d-block justify-content-start">

            <ng-container class="justify-content-star">
                <span class="justify-content-start overflow-hidden fw-bold"> {{ userName }} </span>
                <span class="justify-content-end dayLabel"> {{ getNbDayBefore() }}  </span>
            </ng-container>

            <br>
            <span> {{ text }} </span>
        </div>
    </div>
</div>
